<link rel="stylesheet" href="/css/do/do.css" />
<link rel="stylesheet" href="/css/checkbox.css" />
<link rel="stylesheet" href="/css/dd.css" />

<div class="" style="">

    <div id="divContentHeader" style="" class="row">
        <div class="col-md-12" style="margin-top:15px; margin-bottom:15px;">

            <ul style="list-style:none;">
                <li style="display:inline-block">
                    <div>
                        <h3 style="margin:0; padding:0; margin-left:15px;">Do - Root Cause Action </h3>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Problem Statement</h3>
                </div>
                <div class="panel-body">
                    <span id="spanProbStatement"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-7">

            <div class="panel panel-info" style="min-height:110px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Root Cause</h3>
                </div>
                <div class="panel-body">
                    <span id="spanRootcause"></span>
                </div>
            </div>

        </div>

        <div class="col-md-5">

            <div class="panel panel-info" style="min-height:110px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Key Factor</h3>
                </div>
                <div class="panel-body">
                    <ul style="list-style:none;">
                        <li style="display:inline-block;">
                            <input type="checkbox" id="cbMan" />
                            <label for="cbMan">Man</label>
                        </li>
                        <li style="display:inline-block;">
                            <input type="checkbox" id="cbMachine" />
                            <label for="cbMachine">Machine</label>
                        </li>
                        <li style="display:inline-block;">
                            <input type="checkbox" id="cbMethod" />
                            <label for="cbMethod">Method</label>
                        </li>
                        <li style="display:inline-block;">
                            <input type="checkbox" id="cbMaterial" />
                            <label for="cbMaterial">Material</label>
                        </li>
                        <li style="display:inline-block;">
                            <input type="checkbox" id="cbEnvironment" />
                            <label for="cbEnvironment">Environment</label>
                        </li>
                    </ul>
                    
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-info" style="min-height:400px;">
                <div class="panel-heading">
                    <ul style="list-style:none; margin-bottom:0;">
                        <li style="display:inline-block">
                            <h3 class="panel-title">Action List</h3>
                        </li>
                        <li style="display:inline-block">
                            <div style="margin:0 auto;">
                                <img id="imgAdd" title="Create new action" src="/img/add-icon.png" width="25px" style="cursor: pointer; vertical-align:bottom !important;" />
                            </div>
                        </li>
                    </ul>
                    
                </div>
                <div class="panel-body">
                    <ul id="ulItemList">
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

{{> do/add-action}}

<script src="/js/jquery.dd.js"></script>
<script src="/js/do/li-builder.js"></script>
<script>

    var gRootcauseID = getUrlParameter("rootcauseID");

    $(document).ready(function(){

        //Load rootcause detail from root cause id
        var data = {rootcauseID: gRootcauseID};
        var request = callAjax2('/api/do-get-actualrootcausedetails', data);
        request.done(function (result) {
            $('#spanProbStatement').html(result[0].ProbStatement);
            $('#spanRootcause').html(result[0].Title);

        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });

        $(document).on('click', '#imgAdd', function(e){
            $('#modal-do-new-action').modal();
        });

        try {
            $("body select").msDropDown();
        } catch(e) {
            alert(e.message);
        }

    });



</script>