<div class="container" style="margin-top:15px;">

    <form action="" class="msform" style="text-align:left; margin-top:15px;">

        <div class="row">

            <div class="col-md-12">
                <h3 style="margin:0;padding:0;">Actual Root Cause</h3>
                <br/>
                <input type="text" id="txtActualRoot">
            </div>

            <div class="col-md-12">
                <label for="txtTeamMember">Key Factor</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Man</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Machine</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Method</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Material</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Environment</label>
            </div>

            <div class="col-md-12">
                <h3>Long term counter measure plan</h3>
            </div>

            <div class="col-md-12">
                <label for="txtaction1">Action 1</label>
                <br/>
                <input type="text" id="txtaction1" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign1">Assign To</label>
                <br/>
                <input type="text" id="txtAssign1">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate1">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate1">
            </div>

            <div class="col-md-12">
                <label for="txtStatus1">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>

            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction2">Action 2</label>
                <br/>
                <input type="text" id="txtaction2" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign2">Assign To</label>
                <br/>
                <input type="text" id="txtAssign2">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate2">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate2">
            </div>

            <div class="col-md-12">
                <label for="txtStatus2">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>

            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction3">Action 3</label>
                <br/>
                <input type="text" id="txtaction3" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign3">Assign To</label>
                <br/>
                <input type="text" id="txtAssign3">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate3">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate3">
            </div>

            <div class="col-md-12">
                <label for="txtStatus3">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>


            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction4">Action 4</label>
                <br/>
                <input type="text" id="txtaction4" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign3">Assign To</label>
                <br/>
                <input type="text" id="txtAssign4">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate4">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate4">
            </div>

            <div class="col-md-12">
                <label for="txtStatus4">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>



            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction5">Action 5</label>
                <br/>
                <input type="text" id="txtaction5" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign5">Assign To</label>
                <br/>
                <input type="text" id="txtAssign5">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate5">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate5">
            </div>

            <div class="col-md-12">
                <label for="txtStatus5">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>






        </div>


        <div class="row" style="margin-top:15px;">

            <div class="col-md-4">
                <input type="button" value="Edit" class="btn btn-info" style="color:#fff;" />
            </div>
            <div class="col-md-4">
                <input type="button" value="Save" class="btn btn-info" style="color:#fff;"  />
            </div>
            <div class="col-md-4">
                <input type="button" value="Submit" class="btn btn-info" style="color:#fff;"  />
            </div>


        </div>

    </form>

</div>
