<h3>Company</h3>

<div id="icon-list">
  <img src="/img/add-icon.png" id="icon-add-company" width="32px" class="icon-maint" onclick="iconTrigger(this);" title="Add new company" />
</div>

<table id="companyList" class="table table-bordered table-responsive table-striped dynatable">
  <thead>
    <tr>
      <th data-dynatable-column="CompanyCode">Company Code</th>
      <th data-dynatable-column="CompanyName">Company Name</th>
      <th data-dynatable-column="Status">Status</th>
      <th data-dynatable-column="DateLicenseStart">License Start</th>
      <th data-dynatable-column="DateLicenseEnd">License End</th>
      <th data-dynatable-column="CreatedOn">Created On</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script type="text/javascript">
  var table = $('#companyList')
    .dynatable()
    .on('dblclick', 'tr', function (e) {
      var selectedData = table.settings.dataset.originalRecords[e.currentTarget.rowIndex - 1];
      resetForm();
      callModal(selectedData);
    })
    .data('dynatable');

  $(document).ready(function () {

    $.ajax({
      url: "/api/companies", success: function (result) {
        bindDataTable(result);
      }
    });

    $('#txtDateLicenseStart').datepicker({
      dateFormat: "yy-mm-dd"
    });
    $('#txtDateLicenseEnd').datepicker({
      dateFormat: "yy-mm-dd"
    });

    $('#btnSubmit').on('click', function(e){
      e.preventDefault();
      //return false;
      if (validateForm()){
        //alert("form validation successful!");
        $('#formCompany').submit();
      } else {
        //alert("form validation failed!");
      }

    });

    $(document).on('change', "input[name='rbStatus']:radio", function () {
        //alert($(this).val());
        $('#lblStatusActive')
          .removeClass('active')
          .removeClass('btn-success')
          .addClass('btn-default');
        $('#lblStatusNotActive')
          .removeClass('active')
          .removeClass('btn-success')
          .addClass('btn-default');

          $(this).closest('label').removeClass('btn-default').addClass('btn-success').addClass('active');
      });
  
  });

  function bindDataTable(data) {
    table.settings.dataset.originalRecords = data;
    table.process();

  };

  function iconTrigger(obj) {
    var selectedIcon = $(obj).attr('id');
    if (selectedIcon === "icon-add-company") {
      resetForm();
      $('#modal-add-company').modal();
    }
  }

  function resetForm(){
    $('#txtCompanyCode').removeAttr("readonly");
    $('#txtCompanyCode').val("");
    $('#txtCompanyName').val("");
    $('#lblStatusActive')
      .removeClass('active')
      .removeClass('btn-success')
      .addClass('btn-default');
    $('#lblStatusNotActive')
      .removeClass('active')
      .removeClass('btn-success')
      .addClass('btn-default');
  }

  function callModal(data) {

    //populate the details into the popup form
    
    $('#txtCompanyCode').val(data.CompanyCode);
    $('#txtCompanyCode').attr("readonly", "readonly");
    $('#txtCompanyName').val(data.CompanyName);
    //alert($("input[name=rbStatus]").val() + ", data status: " + data.Status);
    $("input[name=rbStatus][value=" + data.Status + "]").prop( "checked", true );
    $('#lblStatus' + data.Status).removeClass('btn-default').addClass('btn-success').addClass('active');

    $('#modal-add-company').modal();
  }

  function validateForm(){

    if (!$("input[name='rbStatus']:checked").val()){
      alert("Please select status!");
      return false;
    }

    return true;

  }

</script>

{{> admin/company-add}}