<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ePDCA Administration</title>

    <link rel="stylesheet" href="/css/form.css">

    <style>
        .adminBody {
            background: #ccc url('/img/admin-login-bg.png');
            background-size: cover;
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>


    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/notify.min.js"></script>
    
</head>

<body class="adminBody">

    <div class="container">
        
    </div>
    <div class="form" style="margin-top:80px;">
        <div class="info">
            <h1>ePDCA admin</h1><span>Copyright - All right reserved</span>
        </div>
        <div class="thumbnail"><img src="/img/pdca-circle-image.png" /></div>
        <!--<form class="register-form" method="post" action="/register">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>-->
        <form class="login-form" method="post" action="/admin/login">
            <!--<input id="txtUsername" name="txtUsername" type="text" placeholder="username" value="admin" readonly="readonly" />-->
            <input id="txtPassword" name="txtPassword" type="password" placeholder="password" />
            <button>login</button>
            <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        </form>
    </div>

    <div class="footer">
        <h1>Tool used for product quality management</h1>
    </div>

    <script>
        $(document).ready(function(){
            $('#txtPassword').focus();

            //alert('test');

            $.notify("{{message}}", {position: "top-right", className:"error"});
        });
    </script>

</body>

</html>