<div class="container" style="margin-top:15px;">

    <form action="" class="msform" style="text-align:left; margin-top:15px;">

        <div class="row">

            <div class="col-md-12">
                <h3 style="margin:0;padding:0;">Summary List of affective action</h3>
                <br/>
            </div>

            <div class="col-md-12">
                <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr style="color:#fff;background:rgb(44, 44, 44)">
                        <td>Action Name</td>
                        <td>By</td>
                        <td>Supporting Data</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Action 1</td>
                        <td>Sharizan</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>Action 2</td>
                        <td>Sharizan</td>
                        <td><a href="#">View</a></td>
                    </tr>
                    <tr>
                        <td>Action 3</td>
                        <td>Sharizan</td>
                        <td><a href="#">View</a></td>
                    </tr>
                </tbody>
                </table>
            </div>

            <div class="col-md-12">
                <h3 style="margin:0; padding:0;">Any new action is required?</h3>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Yes</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">No</label>
            </div>

            <div class="col-md-12">
                <h4 style="margin:0; padding:0;">If yes, what needs to be added:</h4>
            </div>

            <div class="col-md-6">
                <label for="txtBy">By </label>
                <br/>
                <input type="text" id="txtBy">
            </div>
            <div class="col-md-6">
                <label for="txtReason">Reason</label>
                <br/>
                <input type="text" id="txtReason">
            </div>

            <div class="col-md-12">
                <h3 style="margin:0; padding:0;">Implementation Tasks for establishing standard: </h3>
            </div>


            <div class="col-md-12">
                <label for="txtaction1">Task 1</label>
                <br/>
                <input type="text" id="txtaction1" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign1">Assign To</label>
                <br/>
                <input type="text" id="txtAssign1">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate1">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate1">
            </div>

            <div class="col-md-12">
                <label for="txtStatus1">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>

            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction2">Task 2</label>
                <br/>
                <input type="text" id="txtaction2" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign2">Assign To</label>
                <br/>
                <input type="text" id="txtAssign2">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate2">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate2">
            </div>

            <div class="col-md-12">
                <label for="txtStatus2">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>

            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction3">Task 3</label>
                <br/>
                <input type="text" id="txtaction3" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign3">Assign To</label>
                <br/>
                <input type="text" id="txtAssign3">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate3">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate3">
            </div>

            <div class="col-md-12">
                <label for="txtStatus3">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>


            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction4">Task 4</label>
                <br/>
                <input type="text" id="txtaction4" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign3">Assign To</label>
                <br/>
                <input type="text" id="txtAssign4">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate4">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate4">
            </div>

            <div class="col-md-12">
                <label for="txtStatus4">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>



            <br/><br/>
            <hr/>

            <div class="col-md-12">
                <label for="txtaction5">Task 5</label>
                <br/>
                <input type="text" id="txtaction5" style="height:120px;">
            </div>

            <div class="col-md-12">
                <label for="txtAssign5">Assign To</label>
                <br/>
                <input type="text" id="txtAssign5">
            </div>

            <div class="col-md-12">
                <label for="txtDueDate5">Due Date</label>
                <br/>
                <input type="text" id="txtDueDate5">
            </div>

            <div class="col-md-12">
                <label for="txtStatus5">Status</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Completed</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">WIP</label>
                <label class="radio-inline">
                    <input type="radio" name="optStatus">Open</label>
            </div>






        </div>


        <div class="row" style="margin-top:15px;">

            <div class="col-md-4">
                <input type="button" value="Edit" class="btn btn-info" style="color:#fff;" />
            </div>
            <div class="col-md-4">
                <input type="button" value="Save" class="btn btn-info" style="color:#fff;"  />
            </div>
            <div class="col-md-4">
                <input type="button" value="Submit" class="btn btn-info" style="color:#fff;"  />
            </div>


        </div>

    </form>

</div>
