<form id="formDoActionUpdateStatus" class="msform" method="post" action="" style="text-align:left;">

    <div id="modal-do-update-status" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 45px !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Status</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12" style="text-aling:center;">
                            <label for="modal-do-update-rbStatus">Status</label>
                            
                            <!--<fieldset style="position:inherit; margin:0 auto;">-->
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="modal-do-update-rbStatus" value="Completed" id="risk-level-completed" />
                                        <label for="risk-level-completed">Completed</label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="modal-do-update-rbStatus" value="WIP" id="risk-level-wip" />
                                        <label for="risk-level-wip">WIP</label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="modal-do-update-rbStatus" value="Open" id="risk-level-open" />
                                        <label for="risk-level-open">Open</label>
                                    </div>
                                </div>
                            <!--</fieldset>-->

                        </div>
                    </div>                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="action-button-cancel" data-dismiss="modal">Close</button>
                    <input type="submit" id="modal-do-update-btnSubmit" class="action-button" value="Submit" style="width:80px;" />
                </div>
            </div>
        </div>
    </div>

</form>