<html>
    <head>
        <title>Welcome to ePDCA</title>
        <script src="/js/jquery-3.2.1.min.js"></script>

        
        
        <script src="/js/site.js"></script>

    </head>

    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>