<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome to ePDCA</title>

   <link rel="stylesheet" href="/css/form.css">

   <style>
       body {
        background: #ccc url('/img/login-back.png');
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }
   </style>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/notify.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="info">
            <h1>ePDCA Login</h1>
            <span>Copyright - All right reserved</span>
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="/img/pdca-circle-image.png" /></div>
        <form class="register-form" method="post" action="/register">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post" action="/login">
            <input id="txtUsername" name="txtUsername" type="text" placeholder="username" />
            <input id="txtPassword" name="txtPassword" type="password" placeholder="password" />
            <button>login</button>
            <p class="message">Forgot your password? <a href="/accounts/forgot-password">Click here</a></p>
        </form>
    </div>

    <div class="footer">
        <h1>Tool used for product quality management</h1>
    </div>

    <script>
        $(document).ready(function(){
            $('#txtUsername').focus();
        });

        
        $.notify("{{returnMessage}}", { position: "top-right", className: "error" });


    </script>

</body>

</html>