#list, #whylist{
    list-style: none;
    border: 0;
    margin-bottom: 0 !important;
}

#list > li {
    border: 0;
    margin: 5px !important;
    display: inline-block;
}

#whylist > li {
    border: 0;
    margin: 5px !important;
    display: inline-block;
}

#list > li > div, #whylist > li > div {
    min-height: 150px;
    min-width: 200px;
    width: 100%;
    background: #fcfcfc;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-shadow: 3px 3px 1px #f0f0f0;
    margin-bottom: 15px;
    position: relative;
}

.selected-rootcause > div{
    width: 100% !important;
    min-height: 0 !important;
}

.selected-rootcause {
    width: 100% !important;
    min-height: 0 !important;
}

.selected-rootcause .footer-item-left{
    display: none;
}

/*.selected-rootcause .liContent-date{
    padding-bottom:15px;
}*/

.selected-why > div{
    width: 100% !important;
    min-height: 0 !important;
}

.selected-why {
    width: 100% !important;
    min-height: 0 !important;
}

.selected-why .footer-item-left{
    display: none;
}

#back:hover{
    color: #337ab7;
}

#details{
    padding:5px; 
    /*border:3px dashed #c3c1c1; */
    border-radius:6px; 
    margin-top:5px; 
    margin-bottom:5px;
    min-height: 60px;
    text-align: center;
}

.liContent-title{
    font-size: 18px;
}

.footer-item-right li{
    cursor: pointer;
}

.li-active{
    color: #337ab7;
}

