#ulItemList>li {
    min-height: 150px;
    background: #fcfcfc;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-shadow: 3px 3px 1px #f0f0f0;
    margin-bottom: 15px;
    position: relative;
}

#ulItemList>li:hover {
    background: #f5f5f5;
}

#divContentHeader {
    position: fixed;
    top: 50px;
    background: #fff;
    width: 100%;
    z-index: 2;
}

.liHeader-icon {
    display: inline-block;
}

.liHeader-creator {
    display: inline-block;
    vertical-align: middle;
    top: 30%;
    margin-left: 5px;
    font-size: 18px;
}

.liContent {
    margin-left: 5px;
}

.li-prob-statement {
    font-size: 20px;
}

li-created-on {
    font-size: 18px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    z-index: 999;
}

#btnLiMenu {
    border: 0;
    background: transparent;
    box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;
    width: 35px;
    height: 35px;
}

.chat-line{

    margin: 15px;
}

#footer-item-left{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 10px 10px 5px;
}

#footer-item-right{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
}

    #footer-item-left li, #footer-item-right li {
        list-style: none;
        display: inline-block;
    }

#modal-plan-root-cause-list li{
    background: #e0e0e0;
    list-style: none;
    min-height: 120px;
    margin-bottom:5px;
}

#modal-plan-rootcause-list, #modal-plan-rootcause-whylist{
    list-style: none;
    border: 0;
}

#modal-plan-rootcause-list > li {
    border: 0;
    
}

#modal-plan-rootcause-list > li > div, #modal-plan-rootcause-whylist > li > div {
    display: inline-block;
    height: 60px;
    
    background: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #c3c1c1;
    margin:5px;
    width:100%;
    padding: 5px;
    cursor: pointer;
}

#modal-plan-rootcause-back:hover{
    color: #337ab7;
}

.modal-plan-rootcause-licontent{

}
