body{
    background: #fff;
    margin-top:35px;
    font-size: 12px !important;
}

body,html,.row-offcanvas {
  height:100%;
}

hr{
  border: .1em solid #f0f0f0;
}

table{
  font-size: 12px !important;
}

.navbar-inverse {
  background-color: #464646 !important;
  border-color: #080808;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;

  border-bottom: 1px solid #e0e0e0;
}
#main {
  height:100%;
  overflow:auto;
}

.action-button {
	width: 100px;
	background: #337ab7;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }

  body{
      margin-top:60px;
  }
}

/* Bootstrap ovveride */

.navbar-inverse{
  background: #1e1b18 !important;
}

.navbar-brand{
  color:#fff !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
}

/*a {
    color: #1e1b18 !important;
    text-decoration: none !important;
}*/

input[type=search]{
  border:1px solid rgb(166, 166, 166);
  border-radius: 5px;
  background: rgb(248, 248, 248);
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #3e92cc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
}

/*.nav>li>a {
  margin: 5px;
  border-bottom: 1px solid #e0e0e0;
}*/

/* End of bootstrap override */

h3{
  margin-top: 30px;
}

.icon-maint{
  cursor: pointer;
}

/* JQuery UI tooltip */

.ui-tooltip, .arrow:after {
  background: #5b5b5b;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px #5b5b5b;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #5b5b5b;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

/* End of JQuery UI tooltip */ 

.nav-stacked a{

  color:#1e1b18 !important;
}

.nav-stacked a:hover{
  
  background:#e0e0e0 !important;
  }
