
<h3>
    Thank you for the submission. <br/>
    Your request will be reviewed by Team Lead {{ teamleadName }} and you will received updates shortly.
</h3>

<br/>

<div class="row">

    <div class="col-md-12" style="background:#e0e0e0; align-items:center;">
        <span style="margin:0 auto; width:400px; text-align:center;">Home / Dashboard    |   Submit new plan</span>
    </div>

</div>