

<div style="display:inline-block; margin-top:35px;" class="row">

    <div style="float:left;"><h3 style="margin:0; padding:0; margin-left:15px;">My Plan</h3></div>

    <div style="float:left; margin-left:5px;">
        <img id="imgAdd" title="Create new plan" src="/img/add-icon.png" width="35px" style="cursor: pointer;" />
    </div>

    <div style="clear:both;"></div>

</div>

<script>

    

    $(document).ready(function () {

        $('#imgAdd').on('click', function (e) {
            location.href = "/user/plan-add";
        });

    })

</script>