<h3>My Plan</h3>

<div class="row">

    <div class="col-md-6">
        <img id="imgAdd" title="Create new plan" src="/img/add-icon.png" width="35px" style="cursor: pointer;" />
    </div>

</div>

<script>

    

    $(document).ready(function () {

        $('#imgAdd').on('click', function (e) {
            location.href = "/user/plan-add";
        });

    })

</script>