#ulItemList>li {
    min-height: 180px;
    min-width: 600px;
    background: #fcfcfc;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-shadow: 3px 3px 1px #f0f0f0;
    margin-bottom: 15px;
    position: relative;
}

#ulItemList>li:hover {
    background: #f5f5f5;
}

#divContentHeader {
    /*position: fixed;*/
    margin-top: 15px;
    background: #fff;
    width: 100%;
    z-index: 2;
}

.liHeader-icon {
    display: inline-block;
}

.liHeader-creator {
    display: inline-block;
    vertical-align: middle;
    top: 30%;
    margin-left: 5px;
    font-size: 14px;
    color:#656565;
}

.liContent {
    margin-left: 5px;
}

.liContent-title1{
    font-size: 20px;
}

.liContent-title2{
    font-size: 16px;
}

.liContent-date {
    margin-top:15px;
    font-size: 12px;
    color:#656565;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    z-index: 999;
}

#btnLiMenu {
    border: 0;
    background: transparent;
    box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;
    width: 35px;
    height: 35px;
}

.chat-line{

    margin: 15px;
}

.footer-item-left{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 10px 10px 10px;
    color:#656565;
}

.footer-item-right{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
    color:#656565;
}

    .footer-item-left li, .footer-item-right li {
        list-style: none;
        display: inline-block;
        cursor:pointer;
    }

    .footer-item-right li span{
        margin:5px;
    }

    .footer-item-right li:hover{
        color:#337ab7;
    }

#divProbStatement{
    border:1px solid #c3c1c1;
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
}

#spanProbStatement{
    font-size: 20px;
    
}

#divRootCause{
    margin-top:15px;
    
}

#spanRootcause{
    font-size: 18px;
}