<p>
    {{{returnMessage}}}
</p>

<p>To login, click <a href="/login" style="color:#337ab7 !important; font-weight:bold;">here</a></p>

<script>
    //$.notify("{{returnMessage}}", { position: "top-right", className: "error" });
</script>
