
<h3>Your password has been sent!</h3>

<p>
    Please check your email. You will receive a temporary password and please login using the password.
</p>

<p>To login, click <a href="/login" style="color:#d8315b !important; font-weight:bold;">here</a></p>