<link rel="stylesheet" href="/css/do/do.css" />

<h3>Check - Action List</h3>

<div class="">

    <div id="divContent" style="margin-top:25px; margin-right:250px; width:45vw;z-index:0;">
        <ul id="ulItemList">
        </ul>
    </div>

    <div id="divRightPanel" style="height:100vh; width:30vw; background:#fff; position:fixed; top:0; right:0;z-index:3; margin-top:65px;">

        <!--<div id="divRightPanelTop" style="margin-bottom:25px;">

            <div>
                <h3 style="margin:0 !important; padding:0 !important;">Filter</h3>
            </div>

        </div>

        <hr style="margin-bottom:15px;" />-->

    </div>

</div>

{{> check/update-action }}

<script src="/js/check/li-builder.js"></script>
<script>

    $(document).ready(function(){

        loadActionList();

    });

    function loadActionList() {

        var data = {
        };
        var request = callAjax2('/api/check-get-actionlist', data);
        request.done(function (result) {

            $.each(result, function(key, val){
                $('#ulItemList').append(liCheckActionList(val.RecGuid, val.Username, val.Gender, val.ActionName, val.CreatedOn, val.Status));
            });

        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }

    function updateAction(actionGuid){
        $('#modal-check-update-action').modal();
    }

</script>