
<h3>
    Thank you for the submission. <br/>
    Your request will be reviewed by Team Lead {{ teamleadName }} and you will received updates shortly.
</h3>

<br/>

<div class="row">

    <div class="col-md-12" style="align-items:center;">
        <div style="margin:0 auto; width:400px; text-align:center;">
            <input id="btnHome" type="button" name="home" class=" action-button" value="Home" title="Go back to home / dashboard" onclick="javascript:location.href='/';" />
		    <input id="btnNew" type="button" name="next" class="action-button" value="New plan" title="Create new plan" onclick="javascript:location.href='/user/plan-add';" />
        </div>
        
    </div>

</div>
