<link rel="stylesheet" href="/css/plan-root-cause.css" />

<div class="">

    <div id="divContentHeader" style="">
        <div style="margin-top:15px; margin-bottom:15px;">

            <div style="display:inline-block">
                <h3 style="margin:0; padding:0; margin-left:15px;">My Plan</h3>
            </div>

            <div style="display:inline-block">
                <img id="imgAdd" title="Create new plan" src="/img/add-icon.png" width="25px" style="cursor: pointer;" />
            </div>
        </div>
    </div>


    <div id="divContent" style="margin-top:80px; margin-right:250px; width:45vw;z-index:0;">
        <ul id="ulItemList">
        </ul>
    </div>


    <div id="divRightPanel" style="height:100vh; width:30vw; background:#fff; position:fixed; top:0; right:0;z-index:3; margin-top:65px;">

        <div id="divItemDetails" style="margin-bottom:25px;">

            <div>
                <h3 style="margin:0 !important; padding:0 !important;">Details</h3>
            </div>

            <div class="div-detail-plan-master" style="margin-top:15px; margin-right:15px;">
                <span id="div-details-probstat-title" style="margin-bottom:15px; font-weight:bold; font-size:18px;">
                    Problem Statement:
                </span>
                <br/>
                <span id="div-details-probstat">
                    Low yield for product A. This has happened few weeks ago due to some of the operators do not follows the standard provided.
                </span>
                <br/><br/>
                <span id="div-details-risklevel-title" style="margin-bottom:15px; font-weight:bold; font-size:18px;">
                    Risk Level:
                </span>
                <br/>
                <span id="div-details-risklevel">
                    HIGH
                </span>
                <br/><br/>
                <span id="div-details-risklevel-title" style="margin-bottom:15px; font-weight:bold; font-size:18px;">
                    Financial Impact:
                </span>
                <br/>
                <span id="div-details-risklevel">
                    RM 1,000,000
                </span>
            </div>

        </div>
        <!-- End of divItemDetails -->

        <hr style="margin-bottom:15px;" />

        <div id="divConversation">

            <div>
                <h3 style="margin:0 !important; padding:0 !important;">Conversation</h3>
            </div>

            <div id="divConversationDetails">

                <div class="chat-line" style="text-align:right;">
                    <div class="chat-icon" style="display:inline-block">
                        <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px; display:inline-block" />
                        <span style="display:inline-block">Sharizan</span>
                    </div>
                    <div class="chat-content" style="display:block">
                        Hi Diana, Please help to review this plan details. Thanks
                    </div>
                </div>



                <div class="chat-line">
                    <div class="chat-icon" style="display:inline-block">
                        <img src="/img/user-icon-lady-64.png" style="width:48px; padding:5px; display:inline-block" />
                        <span style="display:inline-block">Diana</span>
                    </div>
                    <div class="chat-content" style="display:block">
                        Hi Izan, I have review it and you may proceed! :)
                    </div>
                </div>

                <div class="chat-line">
                    <div class="chat-icon" style="display:inline-block">
                        <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px; display:inline-block" />
                        <span style="display:inline-block">Azhar</span>
                    </div>
                    <div class="chat-content" style="display:block">
                        Agree with Diana.
                    </div>
                </div>

                <div class="chat-line" style="text-align:right;">
                    <div class="chat-icon" style="display:inline-block">
                        <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px; display:inline-block" />
                        <span style="display:inline-block">Sharizan</span>
                    </div>
                    <div class="chat-content" style="display:block">
                        Thanks guys!
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

{{> plan/plan-root-cause}}
{{> plan/plan-new-rootcause}}

<script src="/js/plan/li-builder.js"></script>
<script src="/js/plan/modal-generator.js"></script>
<script>
    $('#modal-plan-rootcause-back').hide();
    $('#modal-plan-rootcause-backwhy').hide();
    $('#modal-plan-rootcause-divwhylist').hide();
    $(document).ready(function () {

        $('#imgAdd').on('click', function (e) {
            location.href = "/user/plan-add";
        });

        //add potential root cause
        $(document).on('click', '#modal-plan-root-cause-add', function (e) {
            //$('#modal-plan-root-cause-divnew').show('slow');
            //$(this).hide('slow');
            $('#modal-plan-new-rootcause').modal();
        });
        $(document).on('click', '#modal-plan-root-cause-btnAdd', function (e) {
            $('#modal-plan-root-cause-divnew').toggle('slow');
            $('#modal-plan-root-cause-add').toggle('slow');

            //clear
            $('#modal-plan-root-cause-new').val("");
        });
        //add why
        $(document).on('click', '#modal-plan-root-cause-addwhy', function (e) {
            $('#modal-plan-root-cause-divnewwhy').show('slow');
            $(this).hide('slow');
        });
        $(document).on('click', '#modal-plan-root-cause-btnAddWhy', function (e) {
            $('#modal-plan-root-cause-divnewwhy').toggle('slow');
            $('#modal-plan-root-cause-addwhy').toggle('slow');

            //clear
            $('#modal-plan-root-cause-newwhy').val("");
        });

        $(document).on('click', '#modal-plan-rootcause-list > li', function(e){
            $(this).siblings().hide('slow');
            $('#modal-plan-rootcause-back').show();
            $('#modal-plan-rootcause-details').show('slow');
            $('#modal-plan-rootcause-divwhylist').show('slow');
        });
        $(document).on('click', '#modal-plan-rootcause-whylist > li', function(e){
            $(this).siblings().hide('slow');
            $('#modal-plan-rootcause-backwhy').show();
            $('#modal-plan-rootcause-whydetails').show('slow');
            $('#modal-plan-rootcause-divlist').hide('slow');
        });
        $(document).on('click', '#modal-plan-rootcause-back', function(e){
            $('#modal-plan-rootcause-list li').show('slow');
            $('#modal-plan-rootcause-whylist li').show('slow');
            $('#modal-plan-rootcause-details').hide('slow');
            $('#modal-plan-rootcause-divwhylist').hide('slow');
            $('#modal-plan-rootcause-whydetails').hide('slow');
            $(this).hide();
        });
        $(document).on('click', '#modal-plan-rootcause-backwhy', function(e){
            $('#modal-plan-rootcause-whylist li').show('slow');
            $('#modal-plan-rootcause-whydetails').hide('slow');
            $('#modal-plan-rootcause-divlist').show('slow');
            $(this).hide();
        });

        loadPlanlist();

    });

    function loadPlanlist() {
        //Call ajax and get all plan list
        var data = {};
        var result = callAjax('/api/plan-get-list', data);

        $.each(result, function(key, val){
            console.log(val);
            $('#ulItemList').append(liPlanList(val.RecGuid, val.CreatedBy, val.Gender, val.ProbStatement, val.CreatedOn, val.CurrentStatus));
        });
    };

    function fnViewRootCause(planGuid) {
        //alert('View root cause for ' + planGuid);
        var data = {};
        var result = callAjax('/api/team-get-user', data);

        //var modalContent = callmodalPlanRouteCause();
        //$('#main').append(modalContent);
        $('#modal-plan-root-cause').modal();
        setTimeout(function () { ('#modal-plan-root-cause-new').focus(); }, 3000);

    }



</script>
