<link rel="stylesheet" href="/css/plan/plan.css" />
<link rel="stylesheet" href="/css/plan/plan-root-cause.css" />

<h3>Plan Root Cause</h3>

<div class="row" id="rootcauseHeader">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Problem Statement</h3>
            </div>
            <div class="panel-body">
                <span id="probstate" style="font-size:14px;"></span>
            </div>
        </div>

    </div>
</div>

<div id="divlist">

    <div class="row" style="margin-top:15px;">

        <div class="col-md-12">
            <span style="font-size:18px;">Root Cause list</span>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12" style="">
            <img id="add" src="/img/add-icon.png" width="35" title="add new root cause" style="cursor:pointer;" /> &nbsp;
            <img id="back" src="/img/back.png" width="35" title="back to root cause list" style="cursor:pointer;display:none;" />
        </div>

        <div class="col-md-12">
            <ul id="list">
            </ul>
        </div>
    </div>

    <div class="row">
        <div id="details" style="display:none;" class="col-md-12">

            <span style="font-size:18px; text-align:center; margin: 0 auto;"> Is this an actual root cause? </span>
            <br/><br/>
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input type="radio" name="radioActualRootCause" value="Yes" id="follow-std-yes" />
                    <label for="follow-std-yes">Yes</label>
                </div>
                <div class="funkyradio-success">
                    <input type="radio" name="radioActualRootCause" value="No" id="follow-std-no" />
                    <label for="follow-std-no">No</label>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="divwhylist" style="margin-top:15px;display:none;">

    <div class="col-md-12" style=" display:none;">
        <img id="addwhy" src="/img/add-icon.png" width="35" title="add new why" style="cursor:pointer;" /> &nbsp;
        <img id="backwhy" src="/img/back.png" width="35" title="back to why list" style="cursor:pointer;display:none;" />
    </div>

    <div class="col-md-12" style=" display:none;">
        <span style="font-size:18px;">Why List</span>
    </div>

    <div class="row">

        <div class="col-md-12">

            <ul id="whylist">
            </ul>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            
            <form class="msform" style="text-align:left; margin:0 auto;">

                <label for="txtWhy1">Why 1</label>
                <input type="text" id="txtWhy1" style="width:100%" />

                <label for="txtEvident1">Evident 1</label>
                <textarea rows="5" id="txtEvident1" name="txtEvident1" style="width:100%;" required="required"></textarea>

                <label for="txtEvidentAttach1">Evident Attachment 1</label>
                <input type="file" id="fupEvident1" style="width:100%" />

                <hr style="border-style:solid; border:1px solid #000; margin-bottom:5px;"/>

                <label for="txtWhy2">Why 2</label>
                <input type="text" id="txtWhy2" style="width:100%" />

                <label for="txtEvident2">Evident 2</label>
                <textarea rows="5" id="txtEvident2" name="txtEvident2" style="width:100%;" required="required"></textarea>

                <label for="txtEvidentAttach2">Evident Attachment 2</label>
                <input type="file" id="fupEvident2" style="width:100%" />

                <hr style="border-style:solid; border:1px solid #000; margin-bottom:5px;"/>

                <label for="txtWhy3">Why 3</label>
                <input type="text" id="txtWhy3" style="width:100%" />

                <label for="txtEvident3">Evident 3</label>
                <textarea rows="5" id="txtEvident3" name="txtEvident3" style="width:100%;" required="required"></textarea>

                <label for="txtEvidentAttach3">Evident Attachment 3</label>
                <input type="file" id="fupEvident3" style="width:100%" />

                <hr style="border-style:solid; border:1px solid #000; margin-bottom:5px;"/>

                <label for="txtWhy4">Why 4</label>
                <input type="text" id="txtWhy4" style="width:100%" />

                <label for="txtEvident4">Evident 4</label>
                <textarea rows="5" id="txtEvident4" name="txtEvident4" style="width:100%;" required="required"></textarea>

                <label for="txtEvidentAttach4">Evident Attachment 4</label>
                <input type="file" id="fupEvident4" style="width:100%" />

                <hr style="border-style:solid; border:1px solid #000; margin-bottom:5px;"/>

                <label for="txtWhy5">Why 5</label>
                <input type="text" id="txtWhy5" style="width:100%" />

                <label for="txtEvident5">Evident 5</label>
                <textarea rows="5" id="txtEvident5" name="txtEvident5" style="width:100%;" required="required"></textarea>

                <label for="txtEvidentAttach5">Evident Attachment 5</label>
                <input type="file" id="fupEvident5" style="width:100%" />

            </form>
            

        </div>

    </div>


    <div class="row">
        <div class="col-md-8 col-md-push-2">

            <ul id="divcommentlist" style="display:none; background:#fcfcfc; padding:30px; 
            border:1px solid #c3c1c1; border-radius:6px;height:380px; overflow:scroll; list-style:none;">
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-push-2">

            <div id="commentBox" style="display:none;">
                <form class="msform" style="margin:0; margin-top:5px; padding:0;">
                    <label style="text-align:left; align-self:flex-start !important; font-size:14px !important;">Enter your comment here:</label>
                    <input type="text" id="txtComment" />
                </form>
            </div>

        </div>
    </div>

</div>

{{> plan/plan-new-rootcause}} {{> plan/plan-new-why}}

<script src="/js/plan/li-builder.js"></script>
<script>
    var _planID = getUrlParameter("planID");
    var gRootcauseID = "";
    var gWhyID = "";

    $(document).ready(function () {

        //load data and append list 
        var data = { planID: _planID };
        var request = callAjax2('/api/plan-get-plandetails', data);
        request.done(function (result) {
            $('#probstate').html(result[0].ProbStatement)
        });
        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });

        var request2 = callAjax2('/api/plan-get-rootcause', data);
        request2.done(function (result) {
            $.each(result, function (key, val) {
                $(liPlanRootCauseList(val.RecGuid, val.Username, val.Gender, val.Title, val.CreatedOn, val.CurrentStatus, val.IsActualRootcause, 15))
                    .delay(100)
                    .appendTo('#list')
                    .hide()
                    .slideDown('slow');
            });
        });
        request2.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });

        $(document).on('click', '#add', function (e) {
            $('#modal-plan-new-rootcause').modal();
            //focus
            setTimeout(function () {
                $('#modal-plan-addrootcause-txtTitle').focus();
            }, 500);
        });
        //add why
        $(document).on('click', '#addwhy', function (e) {
            $('#modal-plan-new-why').modal();
            //focus
            setTimeout(function () {
                $('#modal-plan-addwhy-txtWhy').focus();
            }, 500);
        });

        //save new root cause
        $(document).on('click', '#modal-plan-addrootcause-btnSubmit', function (e) {
            e.preventDefault();
            var data = {
                planID: _planID
                , title: $('#modal-plan-addrootcause-txtTitle').val()
                , desc: $('#modal-plan-addrootcause-txtDesc').val()
            };

            //call ajax to save
            var result = callAjax('/api/plan-add-rootcause', data);
            $(liPlanRootCauseList(result[0][0].recGuid, result[0][0].username, result[0][0].gender,
                $('#modal-plan-addrootcause-txtTitle').val(),
                result[0][0].createdOn, "NEW", 15))
                .delay(100)
                .appendTo('#list')
                .hide()
                .slideDown('slow');

            //close modal
            $('#modal-plan-new-rootcause').modal('toggle');

        });

        //save new why
        $(document).on('click', '#modal-plan-addwhy-btnSubmit', function (e) {
            e.preventDefault();
            var data = {
                planID: _planID
                , rootcauseID: gRootcauseID
                , why: $('#modal-plan-addwhy-txtWhy').val()
            };

            //call ajax to save
            var result = callAjax('/api/plan-add-why', data);
            $(liPlanRootCauseWhyList(result[0][0].recGuid, result[0][0].username, result[0][0].gender,
                $('#modal-plan-addwhy-txtWhy').val(), result[0][0].createdOn, "NEW", 0))
                .delay(100)
                .appendTo('#whylist')
                .hide()
                .slideDown('slow');

            //close modal
            $('#modal-plan-new-why').modal('toggle');

        });

        //add comment
        $(document).on('keypress', '#txtComment', function (e) {
            if (e.keyCode === 13 && $(this).val().trim() !== "") {
                e.preventDefault();

                //call ajax to save to database
                var data = {
                    planID: _planID
                    , rootcauseID: gRootcauseID
                    , whyID: gWhyID
                    , comment: $(this).val()
                };
                var request = callAjax2('/api/plan-rootcause-addwhycomment', data);
                request.done(function (result) {
                    //append the comment to the list
                    $(liComment(result[0][0].username, result[0][0].userID, result[0][0].userID, result[0][0].username, result[0][0].gender, $('#txtComment').val(), result[0][0].createdOn))
                        .appendTo("#divcommentlist");

                    //send to socket to update to other members

                    $("#divcommentlist").animate({ scrollTop: $('#divcommentlist').prop("scrollHeight") }, 1000);
                    $('#txtComment').val("");
                    $('#txtComment').focus();

                });
                request.fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });
            }
        });

    });

    function viewWhyList(obj, rootcauseId) {

        gRootcauseID = rootcauseId;

        if ($(obj).closest('.li-rootcause').hasClass("selected-rootcause")) {

            $('#whylist').html("");
            $('#divcommentlist').html("");
            $('#divcommentlist').hide('slow');
            $('#commentBox').hide();

            $(obj).closest('.li-rootcause').siblings().show('slow');
            $('.li-rootcause .liFooter .footer-item-right > li > span').removeClass("li-active");
            $('#rootcauseHeader').show('slow');

            $(obj).closest('.li-rootcause').removeClass("selected-rootcause");
            $('#divwhylist').hide('slow');
        } else {

            $(obj).closest('.li-rootcause').siblings().hide('slow');
            $('.li-rootcause .liFooter .footer-item-right > li > span').removeClass("li-active");
            $(obj).addClass("li-active");
            $('#rootcauseHeader').hide('slow');

            $(obj).closest('.li-rootcause').addClass("selected-rootcause");
            $('#divwhylist').show('slow');

            //Call ajax to load why list
            /*var rootcauseData = { rootcauseId: rootcauseId };
            var whyList = callAjax('/api/plan-rootcause-get_whylist', rootcauseData);

            $.each(whyList, function (key, val) {
                $(liPlanRootCauseWhyList(val.RecGuid, val.Username, val.Gender, val.Why, val.CreatedOn, val.CurrentStatus, 0))
                    .delay(100)
                    .appendTo('#whylist')
                    .hide()
                    .slideDown('slow');
            });*/
        }
    }

    function viewCommentList(obj, whyGuid) {

        gWhyID = whyGuid;

        if ($(obj).closest('.li-why').hasClass("selected-why")) {
            $(obj).closest('.li-why').siblings().show('slow');
            $('.li-why .liFooter .footer-item-right > li > span').removeClass("li-active");

            $(obj).closest('.li-why').removeClass("selected-why");
            $('#divcommentlist').html("");
            $('#divcommentlist').hide('slow');
            $('#commentBox').hide();
            $('#txtComment').val("");

            $('#divlist').show('slow');
        } else {

            $(obj).closest('.li-why').siblings().hide('slow');
            $('.li-why .liFooter .footer-item-right > li > span').removeClass("li-active");
            $(obj).addClass("li-active");

            $(obj).closest('.li-why').addClass("selected-why");
            $('#divcommentlist').show('slow');
            $('#commentBox').show();

            $('#divlist').hide('slow');

            //Call ajax to load comment list from database
            var data = {
                planID: _planID
                , rootcauseID: gRootcauseID
                , whyID: gWhyID
            };
            var request = callAjax2('/api/plan-rootcause-get_whycomment', data);
            request.done(function (result) {
                $.each(result, function (key, val) {
                    $(liComment(val.username, val.userID, val.CreatedBy, val.createdByName, val.gender, val.Comment, val.CreatedOn))
                        .appendTo("#divcommentlist");
                });

                $("#divcommentlist").animate({ scrollTop: $('#divcommentlist').prop("scrollHeight") }, 1000);
                setTimeout(function () {
                    $('#txtComment').focus();
                }, 500);
            });
            request.fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }
    }

    function setAsActualRootcause(obj, rootcauseID) {
        $.confirm({
            title: 'Actual Root Cause',
            content: 'Are you sure this is an actual root cause? (No undoable)',
            type: 'orange',
            buttons: {
                confirm: function () {

                    //update database set flag to Y
                    var data = {rootcauseID: rootcauseID};
                    var request = callAjax2('/api/plan-update-actualrootcause', data);
                    request.done(function (result) {
                        $.alert({
                            title: 'Actual root cause',
                            content: 'The root cause successfully set to Actual root cause!',
                        });
                        //change the flag color to green and pointer to normal
                        $(obj).attr('style','color:green;cursor:default;');
                        $(obj).attr('onclick','');
                        $(obj).attr('title','Actual root cause');
                    });
                    request.fail(function (jqXHR, textStatus) {
                        $.alert({
                            title: 'Error: Actual root cause',
                            content: "Request failed: " + textStatus,
                        });
                    });
                },
                cancel: function () {
                    //$.alert('Canceled!');
                }
            }
        });
    }

</script>