<link rel="stylesheet" href="/css/plan/plan.css" />
<link rel="stylesheet" href="/css/plan-root-cause.css" />

<h3>Plan Root Cause</h3>

<div class="row">
    <div class="col-md-12">
        <span style="font-size:18px;">Problem Statement</span>
        <br/>
        <div style="background:#f0f0f0; height:65px; padding:5px; border:3px dashed #c3c1c1; border-radius:6px; margin-top:5px; margin-bottom:5px; vertical-align:middle;">
            <span id="probstate" style="font-size:14px;">
                Low yield for product A
            </span>
        </div>
    </div>
</div>

<div id="divlist">

    <div class="row" style="margin-top:15px;">

        <div class="col-md-12">
            <span style="font-size:18px;">Root Cause list</span>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <ul id="list">
                
                
                <li class="">
                    <div class="liContent" style="width:380px;">

                        <div class="liHeader">
                            <div style="float:left;position:relative;">
                                <div class="liHeader-icon" style="display:inline-block">
                                    <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px;" />
                                </div>
                                <div class="liHeader-creator" style="display:inline-block">Sharizan</div>
                                <!--<div>` + liIsNew + `</div>-->
                            </div>
                            <div style="float:right">
                                <div class="dropdown">
                                    <button id="btnLiMenu" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        </button>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Edit</a></li>
                                        <li><a tabindex="-1" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="liContent" style="clear:both;">
                            <span class="liContent-title">
                                                    Machine always down
                                                </span>
                            <br/><br/>
                            <span class="liContent-date">2017-09-06 14:20</span>
                        </div>
                        <div class="liFooter">
                            <ul class="footer-item-left">
                                <li>Why: 20</li>
                            </ul>

                            <ul class="footer-item-right">
                                <li><span class="fa fa-arrow-left fa-2x" title="back"></span></li>
                                <li><span class="fa fa-calendar fa-2x" title="schedule"></span></li>
                                <li><span class="fa fa-flag fa-2x" title="mark"></span></li>
                            </ul>
                        </div>

                    </div>
                </li>

                <li class="">
                    <div class="liContent" style="width:380px;">

                        <div class="liHeader">
                            <div style="float:left;position:relative;">
                                <div class="liHeader-icon" style="display:inline-block">
                                    <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px;" />
                                </div>
                                <div class="liHeader-creator" style="display:inline-block">Sharizan</div>
                                <!--<div>` + liIsNew + `</div>-->
                            </div>
                            <div style="float:right">
                                <div class="dropdown">
                                    <button id="btnLiMenu" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        </button>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Edit</a></li>
                                        <li><a tabindex="-1" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="liContent" style="clear:both;">
                            <span class="liContent-title">
                                                    Machine always down
                                                </span>
                            <br/><br/>
                            <span class="liContent-date">2017-09-06 14:20</span>
                        </div>
                        <div class="liFooter">
                            <ul class="footer-item-left">
                                <li>Why: 20</li>
                            </ul>

                            <ul class="footer-item-right">
                                <li><span class="fa fa-arrow-left fa-2x" title="back"></span></li>
                                <li><span class="fa fa-calendar fa-2x" title="schedule"></span></li>
                                <li><span class="fa fa-flag fa-2x" title="mark"></span></li>
                            </ul>
                        </div>

                    </div>
                </li>


                <li class="">
                    <div class="liContent" style="width:380px;">

                        <div class="liHeader">
                            <div style="float:left;position:relative;">
                                <div class="liHeader-icon" style="display:inline-block">
                                    <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px;" />
                                </div>
                                <div class="liHeader-creator" style="display:inline-block">Sharizan</div>
                                <!--<div>` + liIsNew + `</div>-->
                            </div>
                            <div style="float:right">
                                <div class="dropdown">
                                    <button id="btnLiMenu" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        </button>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Edit</a></li>
                                        <li><a tabindex="-1" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="liContent" style="clear:both;">
                            <span class="liContent-title">
                                                    Machine always down
                                                </span>
                            <br/><br/>
                            <span class="liContent-date">2017-09-06 14:20</span>
                        </div>
                        <div class="liFooter">
                            <ul class="footer-item-left">
                                <li>Why: 20</li>
                            </ul>

                            <ul class="footer-item-right">
                                <li><span class="fa fa-arrow-left fa-2x" title="back"></span></li>
                                <li><span class="fa fa-calendar fa-2x" title="schedule"></span></li>
                                <li><span class="fa fa-flag fa-2x" title="mark"></span></li>
                            </ul>
                        </div>

                    </div>
                </li>

                <li class="">
                    <div class="liContent" style="width:380px;">

                        <div class="liHeader">
                            <div style="float:left;position:relative;">
                                <div class="liHeader-icon" style="display:inline-block">
                                    <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px;" />
                                </div>
                                <div class="liHeader-creator" style="display:inline-block">Sharizan</div>
                                <!--<div>` + liIsNew + `</div>-->
                            </div>
                            <div style="float:right">
                                <div class="dropdown">
                                    <button id="btnLiMenu" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        </button>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Edit</a></li>
                                        <li><a tabindex="-1" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="liContent" style="clear:both;">
                            <span class="liContent-title">
                                                    Machine always down
                                                </span>
                            <br/><br/>
                            <span class="liContent-date">2017-09-06 14:20</span>
                        </div>
                        <div class="liFooter">
                            <ul class="footer-item-left">
                                <li>Why: 20</li>
                            </ul>

                            <ul class="footer-item-right">
                                <li><span class="fa fa-arrow-left fa-2x" title="back"></span></li>
                                <li><span class="fa fa-calendar fa-2x" title="schedule"></span></li>
                                <li><span class="fa fa-flag fa-2x" title="mark"></span></li>
                            </ul>
                        </div>

                    </div>
                </li>










                


            </ul>

        </div>

    </div>

    <div class="row">
        <div id="details" style="display:none;" class="col-md-12">

            <span style="font-size:18px; text-align:center; margin: 0 auto;"> Is this an actual root cause? </span>
            <br/><br/>
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input type="radio" name="radioActualRootCause" value="Yes" id="follow-std-yes" />
                    <label for="follow-std-yes">Yes</label>
                </div>
                <div class="funkyradio-success">
                    <input type="radio" name="radioActualRootCause" value="No" id="follow-std-no" />
                    <label for="follow-std-no">No</label>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="divwhylist" style="margin-top:15px;">

    <div class="col-md-12" style="">
        <img id="addwhy" src="/img/add-icon.png" width="35" title="add new why" style="cursor:pointer;" />        
        &nbsp;
        <img id="backwhy" src="/img/back.png" width="35" title="back to why list" style="cursor:pointer;" />
    </div>

    <div class="col-md-12">
        <span style="font-size:18px;">Why List</span>
    </div>

    <div class="row">

        <div class="col-md-12">

            <ul id="whylist">
                <li class="">
                    <div class="liContent" style="width:380px;">

                        <div class="liHeader">
                            <div style="float:left;position:relative;">
                                <div class="liHeader-icon" style="display:inline-block">
                                    <img src="/img/user-icon-man-64.png" style="width:48px; padding:5px;" />
                                </div>
                                <div class="liHeader-creator" style="display:inline-block">Sharizan</div>
                                <!--<div>` + liIsNew + `</div>-->
                            </div>
                            <div style="float:right">
                                <div class="dropdown">
                                    <button id="btnLiMenu" class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        </button>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Edit</a></li>
                                        <li><a tabindex="-1" href="#">Remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="liContent" style="clear:both;">
                            <span class="liContent-title">
                                                    Why is it always down? How many times per week?
                                                </span>
                            <br/><br/>
                            <span class="liContent-date">2017-09-06 14:20</span>
                        </div>
                        <div class="liFooter">
                            <ul class="footer-item-left">
                                <li>Why: 20</li>
                            </ul>

                            <ul class="footer-item-right">
                                <li><span class="fa fa-arrow-left fa-2x" title="back"></span></li>
                                <li><span class="fa fa-calendar fa-2x" title="schedule"></span></li>
                                <li><span class="fa fa-flag fa-2x" title="mark"></span></li>
                            </ul>
                        </div>

                    </div>
                </li>
                

            </ul>

        </div>

    </div>

    <div class="row">
        <div id="whydetails" style="display:none;" class="col-md-8 col-md-push-2">

            <span style="font-size:18px;"> Any evident to support? </span>
            <br/><br/>
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input type="radio" name="radioEvidentSupport" value="Yes" id="evident-support-yes" />
                    <label for="evident-support-yes">Yes</label>
                </div>
                <div class="funkyradio-success">
                    <input type="radio" name="radioEvidentSupport" value="No" id="evident-support-no" />
                    <label for="evident-support-no">No</label>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $('#back').hide();
    $('#backwhy').hide();
    $('#divwhylist').hide();

    $(document).ready(function(){
        //add potential root cause
        $(document).on('click', '#add', function (e) {
            $('#modal-plan-new-rootcause').modal();
        });
        $(document).on('click', '#btnAdd', function (e) {
            $('#divnew').toggle('slow');
            $('#add').toggle('slow');

            //clear
            $('#new').val("");
        });
        //add why
        $(document).on('click', '#addwhy', function (e) {
            $('#mdivnewwhy').show('slow');
            $(this).hide('slow');
        });
        $(document).on('click', '#btnAddWhy', function (e) {
            $('#divnewwhy').toggle('slow');
            $('#addwhy').toggle('slow');

            //clear
            $('#newwhy').val("");
        });

        $(document).on('click', '#list > li', function(e){
            $(this).siblings().hide('slow');
            $('#back').show();
            $('#details').show('slow');
            $('#divwhylist').show('slow');
        });
        $(document).on('click', '#whylist > li', function(e){
            $(this).siblings().hide('slow');
            $('#backwhy').show();
            $('#whydetails').show('slow');
            $('#divlist').hide('slow');
        });
        $(document).on('click', '#back', function(e){
            $('#list li').show('slow');
            $('#whylist li').show('slow');
            $('#details').hide('slow');
            $('#divwhylist').hide('slow');
            $('#whydetails').hide('slow');
            $(this).hide();
        });
        $(document).on('click', '#backwhy', function(e){
            $('#whylist li').show('slow');
            $('#whydetails').hide('slow');
            $('#divlist').show('slow');
            $(this).hide();
        });
    });
</script>