<form id="formPlanNewRootCause" class="msform" method="post" action="" style="text-align:left;">

    <div id="modal-plan-new-rootcause" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 45px !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Root Cause</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        
                        <div class="col-md-12">
                            <label for="modal-plan-addrootcause-txtTitle">Title</label>
                            <input type="text" id="modal-plan-addrootcause-txtTitle" name="modal-plan-addrootcause-txtTitle" />
                        </div>

                    </div>                    

                    <div class="row">
                        
                        <div class="col-md-12">
                            <label for="addrootcause-txtDesc">Description</label>
                            <textarea rows="5" id="addrootcause-txtDesc" name="addrootcause-txtDesc" style="width:100%;"></textarea>
                        </div>

                    </div> 



                </div>
                <div class="modal-footer">
                    <button type="button" class="action-button-cancel" data-dismiss="modal">Close</button>
                    <input type="submit" id="addrootcause-btnSubmit" class="action-button" value="Submit" style="width:80px;" />
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function () {
        
    });
</script>