<form id="formPlanRootCause" class="msform" method="post" action="" style="text-align:center;">

    <div id="modal-plan-root-cause" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Plan Root Cause & Why list</h4>
                </div>
                <div class="modal-body modal-body-fullscreen">

                    <div class="row">
                        <div class="col-md-12">
                            <span style="font-size:18px;">Problem Statement</span>
                            <br/>
                            <div style="height:65px; padding:5px; border:3px dashed #c3c1c1; border-radius:6px; margin-top:5px; margin-bottom:5px; vertical-align:middle;">
                                <span id="model-plan-rootcause-probstate" style="font-size:20px;">
                                    Low yield for product A
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="modal-plan-rootcause-divlist">

                        <div class="row">

                            <div class="col-md-12">

                                <div id="modal-plan-root-cause-divnew" style=" display:none; margin-top:5px;">
                                    <textarea id="modal-plan-root-cause-new" style="width:100%; height:80px;font-size:18px;"></textarea>
                                    <br/>
                                    <input id="modal-plan-root-cause-btnAdd" type="button" value="Add" class="action-button" style="width:80px;margin:0;" />
                                    <input id="modal-plan-root-cause-btnCancel" type="button" value="Cancel" class="action-button-cancel" style="width:80px;margin:0;"
                                    />
                                </div>
                                <img id="modal-plan-root-cause-add" src="/img/add-icon.png" width="35" title="add new potential root cause" style="cursor:pointer;"
                                /> &nbsp;
                                <img id="modal-plan-rootcause-back" src="/img/back.png" width="35" title="back to potential root cause list" style="cursor:pointer;"
                                />
                            </div>

                        </div>

                        <div class="row" style="margin-top:15px;">

                            <div class="col-md-12">
                                <span style="font-size:18px;">Root Cause list</span>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-8 col-md-push-2">

                                <ul id="modal-plan-rootcause-list">
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 1
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 2
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 3
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 4
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 5
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 6
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 7
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 8
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 9
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="modal-plan-rootcause-licontent">
                                            Potential Root Cause 10
                                        </div>
                                    </li>

                                </ul>

                            </div>

                        </div>

                        <div class="row">
                            <div id="modal-plan-rootcause-details" style="display:none;" class="col-md-8 col-md-push-2">

                                <span style="font-size:18px;"> Is this an actual root cause? </span>
                                <br/><br/>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radioActualRootCause" value="Yes" id="follow-std-yes" />
                                        <label for="follow-std-yes">Yes</label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radioActualRootCause" value="No" id="follow-std-no" />
                                        <label for="follow-std-no">No</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div id="modal-plan-rootcause-divwhylist" class="row" style="margin:15px;margin-top:15px;">

                        <div class="col-md-12" style="">
                            <div id="modal-plan-root-cause-divnewwhy" style=" display:none; margin-top:5px;">
                                <textarea id="modal-plan-root-cause-newwhy" style="width:100%; height:80px;font-size:18px; "></textarea>
                                <br/>
                                <input id="modal-plan-root-cause-btnAddWhy" type="button" value="Add" class="action-button" style="width:80px;margin:0;"
                                />
                            </div>
                            <img id="modal-plan-root-cause-addwhy" src="/img/add-icon.png" width="35" title="add new why" style="cursor:pointer;" />                            &nbsp;
                            <img id="modal-plan-rootcause-backwhy" src="/img/back.png" width="35" title="back to why list" style="cursor:pointer;" />
                        </div>

                        <div class="col-md-12">
                            <span style="font-size:18px;">Why List</span>
                        </div>

                        <ul id="modal-plan-rootcause-whylist">
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 1
                                </div>
                            </li>
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 2
                                </div>
                            </li>
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 3
                                </div>
                            </li>
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 4
                                </div>
                            </li>
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 5
                                </div>
                            </li>
                            <li class="">
                                <div class="modal-plan-rootcause-whylicontent">
                                    Why 6
                                </div>
                            </li>
                        </ul>

                        <div class="row">
                            <div id="modal-plan-rootcause-whydetails" style="display:none;" class="col-md-8 col-md-push-2">

                                <span style="font-size:18px;"> Any evident to support? </span>
                                <br/><br/>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radioEvidentSupport" value="Yes" id="evident-support-yes" />
                                        <label for="evident-support-yes">Yes</label>
                                    </div>
                                    <div class="funkyradio-success">
                                        <input type="radio" name="radioEvidentSupport" value="No" id="evident-support-no" />
                                        <label for="evident-support-no">No</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>

</form>