<form id="formPlanNewWhy" class="msform" method="post" action="" style="text-align:left;">

    <div id="modal-plan-new-why" class="modal fade" tabindex="-1" role="dialog" style="margin-top: 45px !important;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Why</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <label for="modal-plan-addwhy-txtWhy">Why</label>
                            <input type="text" id="modal-plan-addwhy-txtWhy" name="modal-plan-addrootcause-txtWhy" maxlength="45" required="required" />
                        </div>
                    </div>                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="action-button-cancel" data-dismiss="modal">Close</button>
                    <input type="submit" id="modal-plan-addwhy-btnSubmit" class="action-button" value="Submit" style="width:80px;" />
                </div>
            </div>
        </div>
    </div>

</form>