<form id="formPlanRootCause" class="msform" method="post" action="" style="text-align:center;">

    <div id="modal-plan-root-cause" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Plan Root Cause & Why list</h4>
                </div>
                <div class="modal-body modal-body-fullscreen" style="overflow:auto;">

                    





                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function () {
        
    });
</script>